main {
  display: flex;
  flex-direction: column;
}

main_stuff {
  display: flex;
  flex-direction: column;
}

nav, footer.page-footer {
  background-color: #FFC267;
}

nav .brand-logo {
  padding-left: 0.5em;
}

.prod_table {
  background-color: #fff;
  margin: 0.5rem 0 1rem 0;
}

.prod_btn {
  padding-left: 15px;
  padding-right: 15px;
  background-color: #A0B2FF;
  margin-left: 1em;
}

td, th {
  padding-left: 2em;
}

.input_solar {
  padding-top: 1em;
  display: flex;
}

#city_loc {
  margin: auto
}

.collapsible {
  color: black;
}

.collapsible-body {
  background-color: #eeeeee;
}

.lat, .long, .dni, .ghi, .lat_tilt {
  padding: 1em;
}

.production {
  display: inline-block;
  margin-bottom: 1em;
  margin-right: 0.8em;
}

.solar-prod-data {
  display: none;
}

/*MAP*/
.input_map {
  display: flex;
  flex-direction: column;
  padding-top: 2em;
}

.wrapper {
  display: flex;
  justify-content: center;
  margin-top: -5px;
}
.wrapper:nth-child(even) {
  margin-left: 20.5px;
}

.hexagon {
  display: inline-block;
  position: relative;
  width: 20px;
  height: 11.5px;
  color: white;
  background-color: currentColor;
  margin: 5.75px 0.5px;
/*
  -webkit-clip-path: polygon(50% 0%, 100% 25%, 100% 75%, 50% 100%, 0% 75%, 0% 25%);
  clip-path: polygon(50% 0%, 100% 25%, 100% 75%, 50% 100%, 0% 75%, 0% 25%);*/

}
.hexagon:before, .hexagon:after {
  content: "";
  position: absolute;
  width: 0;
  border-left: 10px solid transparent;
  border-right: 10px solid transparent;
}
.hexagon:before {
  bottom: 100%;
  border-bottom: 5.75px solid currentColor;
}
.hexagon:after {
  top: 100%;
  width: 0;
  border-top: 5.75px solid currentColor;
}

.state {
  color: #7F7059;
}

.state:hover {
  z-index: 1;
  transform: scale(1.5);
  color: red;
}

.center_info {
  display: flex;
  justify-content: center;
}

.reset_button {
  margin-bottom: 2em;
}

.solar_card {
  display: flex;
}

#center {
  margin: auto;
}

.button_city > a.btn {
  margin: 0.5em;
  background-color: #A0B2FF;
}

.utility_cost {
  font-size: 2em;
  height: 3em;
  align-items: center;
}

.space {
  margin-top: 0.6em;
}

.hidden_select {
  display: none;
}

.hidden_cards {
  display: none;
}

.hidden_form {
  display: none;
}

.hidden_or {
  display: none;
}

.image_map {
  height: 70vh;

}
/*FOOTER*/
