nav .brand-logo {
  padding-left: 0.5em;
}

.input_solar {
  padding-top: 1em;
}

.collapsible {
  color: black;
}

.collapsible-body {
  background-color: gray;
}

.production {
  border-top: solid white 1px;
  padding-top: 1em;
}

.solar-prod-data {
  display: none;
}
